## [{{ .Header }}](https://github.com/FerretDB/FerretDB/releases/tag/{{ .Current }}) ({{ .Date }})
{{ range .PRs }}
### {{ .CategoryTitle }}
{{- "\n" }}
{{- range .PRs }}
- {{ .Title }} by @{{ .User }} in {{ .URL }}
{{- end }}
{{- "\n" }}
{{- end }}
[All closed issues and pull requests]({{ .URL }}?closed=1).
{{- if .Previous }}
[All commits](https://github.com/FerretDB/FerretDB/compare/{{ .Previous }}...{{ .Current }}).
{{- end }}
