# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern has the highest precedence.

*               @AlekSi @chilagrow

/website/       @AlekSi @Fashander

# @AlekSi for engineering, @ptrfarkas for marketing.
# See also Mergify configuration.
/website/blog/  @AlekSi @ptrfarkas
