**

# Go code
!build/version
!cmd
!internal
!go.mod
!go.sum

# so `go build` could set `vcs.revision`, etc.
!.git

# so generated *.txt files do not make binaries dirty
!.gitignore

# additional files for Docker images
!build/docker
