# This file is used only for repository-specific patterns.
# Please use global .gitignore file for .DS_Store, .idea/, go.work, .envrc, etc.
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

docker-compose.override.yml

state.json
telemetry.json

*.out
*.tmp
*.txt
!website/static/*.txt

.task/
bin/
tmp/
vendor/
website/build/

**/testdata/fuzz/
