# Please use global .gitignore file for .vscode/, .idea/, etc.
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

# our tools
bin/

# caches
.task/
vendor/

# development and build artifacts, temporary files, etc
*.txt
*.out
**/testdata/fuzz/
state.json
tmp/
website/build/
