# This file is used for the development of FerretDB, not for actually running it.
---
version: "3.8"

services:
  postgres:
    build:
      context: ./build/deps
      dockerfile: postgres.Dockerfile
    container_name: ferretdb_postgres
    command: postgres -c 'max_connections=200'
    ports:
      - 5432:5432
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # UTC−03:30/−02:30. Set to catch timezone problems.
      - TZ=America/St_Johns
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=ferretdb

  tigris:
    build:
      context: ./build/deps
      dockerfile: ${TIGRIS_DOCKERFILE:-tigris}.Dockerfile
    container_name: ferretdb_tigris
    ports:
      - 8081:8081
    environment:
      - TIGRIS_SERVER_LOG_LEVEL=info

  cockroach:
    build:
      context: ./build/deps
      dockerfile: cockroach.Dockerfile
    container_name: ferretdb_cockroach
    command: start-single-node --insecure
    ports:
      - 26257:26257

  # for proxy mode and mongosh
  mongodb:
    build:
      context: ./build/deps
      dockerfile: ${MONGO_DOCKERFILE:-mongo6}.Dockerfile
    container_name: ferretdb_mongodb
    command: --enableFreeMonitoring off
    ports:
      - 37017:27017
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu

  trivy:
    build:
      context: ./build/deps
      dockerfile: trivy.Dockerfile
    container_name: ferretdb_trivy
    volumes:
      - .:/workdir

  # for building .deb and .rpm packages
  debian:
    build:
      context: ./build/deps
      dockerfile: debian11.Dockerfile
    container_name: ferretdb_debian
    volumes:
      - ./build/deb:/deb
  centos:
    build:
      context: ./build/deps
      dockerfile: centos7.Dockerfile
    container_name: ferretdb_centos
    volumes:
      - ./build/rpm:/rpm

  # for documentation
  markdownlint:
    build:
      context: ./build/deps
      dockerfile: markdownlint.Dockerfile
    container_name: ferretdb_markdownlint
    volumes:
      - .:/workdir
  textlint:
    build:
      context: ./build/deps/textlint
    container_name: ferretdb_textlint
    volumes:
      - .:/workdir
      - /workdir/build/deps/textlint/node_modules
  docusaurus:
    build:
      context: ./website
    container_name: ferretdb_docusaurus
    ports:
      - 3000:3000
    volumes:
      - .:/workdir
      - /workdir/website/node_modules
