# This file is used for the development of FerretDB, not for actually running it.
---
version: '3.8'

services:
  postgres:
    image: postgres:14.2
    container_name: ferretdb_postgres
    ports:
      - 127.0.0.1:5432:5432
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      # UTC−03:30/−02:30. Set to catch timezone problems.
      - TZ=America/St_Johns
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=ferretdb

  # for proxy mode and mongosh
  mongodb:
    image: mongo:5.0.6
    container_name: ferretdb_mongodb
    ports:
      - 127.0.0.1:37017:27017
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    volumes:
      - test_db_mongodb:/test_db/:ro

  test_db:
    image: aleksi/test_db:mongodb-values
    container_name: ferretdb_test_db
    volumes:
      - test_db_mongodb:/test_db/mongodb:ro

volumes:
  test_db_mongodb:
