# This file is used for the development of FerretDB, not for actually running it.
---
version: "3.8"

services:
  postgres:
    build:
      context: ./build/deps
      dockerfile: postgres.Dockerfile
    container_name: ferretdb_postgres
    depends_on: [test_db]
    ports:
      - 5432:5432
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # UTC−03:30/−02:30. Set to catch timezone problems.
      - TZ=America/St_Johns
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=ferretdb

  # Tigris configuration is based on https://github.com/tigrisdata/tigris/blob/main/test/docker/docker-compose.yml

  tigris_fdb:
    build:
      context: ./build/deps
      dockerfile: tigris_fdb.Dockerfile
    container_name: ferretdb_tigris_fdb
    ports:
      - 4500:4500
    volumes:
      - tigrisdata:/var/fdb
      # That will be needed for the next version of Tigris.
      # - tigrisdata:/var/lib/foundationdb

  # That will be needed for the next version of Tigris.
  #
  # tigris_typesense:
  #   build:
  #     context: ./build/deps
  #     dockerfile: tigris_typesense.Dockerfile
  #   container_name: ferretdb_tigris_typesense
  #   environment:
  #     - TYPESENSE_API_KEY=ts_test_key
  #     - TYPESENSE_DATA_DIR=/tmp
  #   ports:
  #     - 8108:8108

  tigris:
    build:
      context: ./build/deps
      dockerfile: tigris.Dockerfile
    container_name: ferretdb_tigris
    depends_on: [tigris_fdb]
    restart: on-failure
    command: bash -c 'fdbcli --exec "configure new single memory" && /server/service'
    # That will be needed for the next version of Tigris.
    # environment:
    #   - TIGRIS_SERVER_SEARCH_AUTH_KEY=ts_test_key
    #   - TIGRIS_SERVER_SEARCH_HOST=tigris_typesense
    ports:
      - 8081:8081
    volumes:
      - tigrisdata:/etc/foundationdb

  # for proxy mode and mongosh
  mongodb:
    build:
      context: ./build/deps
      dockerfile: mongo.Dockerfile
    container_name: ferretdb_mongodb
    depends_on: [test_db]
    command: --enableFreeMonitoring off
    ports:
      - 37017:27017
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # Always UTC+05:45. Set to catch timezone problems.
      - TZ=Asia/Kathmandu
    volumes:
      - test_db_mongodb:/test_db/:ro

  test_db:
    image: aleksi/test_db:mongodb-values
    container_name: ferretdb_test_db
    volumes:
      - test_db_mongodb:/test_db/mongodb:ro

  markdownlint:
    build:
      context: ./build/deps
      dockerfile: markdownlint.Dockerfile
    container_name: ferretdb_markdownlint
    volumes:
      - .:/workdir

volumes:
  test_db_mongodb:
  tigrisdata:
