Error: {{.Error}}

OS: {{.GOOS}}
Architecture: {{.GOARCH}}

Version: {{.Version}}
Commit: {{.Commit}}
Branch: {{.Branch}}
Dirty: {{.Dirty}}
Debug: {{.DebugBuild}}

{{.GoVersion}}
{{.GitVersion}}

Docker:
{{.DockerVersion}}

{{.ComposeVersion}}

Please file an issue with all output above: {{.NewIssueURL}}
