---
name: Integration # visible at https://github.com/FerretDB/FerretDB/actions
on:
  workflow_call:
    inputs:
      task:
        required: true
        type: string
      shard_index:
        required: true
        type: number
      shard_total:
        required: true
        type: number
      test_timeout:
        required: false
        type: string
        default: 20m
      no_xfail:
        required: false
        type: boolean
        default: false
      skip_flaky_check:
        required: false
        type: boolean
        default: false

env:
  GOPATH: /home/runner/go
  GOCACHE: /home/runner/go/cache
  GOLANGCI_LINT_CACHE: /home/runner/go/cache/lint
  GOMODCACHE: /home/runner/go/mod
  GOPROXY: https://proxy.golang.org
  GOTOOLCHAIN: local

jobs:
  run:
    # make it short to fit in GitHub UI; all parameters are already in the caller's name
    name: Run
    runs-on: ubuntu-24.04
    timeout-minutes: 25

    steps:
      # TODO https://github.com/FerretDB/github-actions/issues/211
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # for `git describe` to work
          lfs: false # LFS is used only by website

      # for branch.txt on pull_request; the correct branch is already checked out on push / schedule
      - name: Name branch
        if: github.event_name == 'pull_request'
        env:
          BRANCH: ${{ github.head_ref }} # see https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
        run: git checkout -b $BRANCH

      - name: Setup Go
        uses: FerretDB/github-actions/setup-go@main
        with:
          cache-key: integration

      - name: Install Task
        run: go generate -x
        working-directory: tools

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start environment
        run: bin/task env-up-detach

      - name: Run init
        run: bin/task init

      - name: Setup Ollama and MCPHost
        run: |
          mkdir -p tmp/logs
          curl -fsSL https://ollama.com/install.sh | sh
          sudo systemctl stop ollama
          bin/task ollama  > tmp/logs/ollama.log  2>&1 &
          bin/task mcphost > tmp/logs/mcphost.log 2>&1 &

      - name: Wait for and setup environment
        run: bin/task env-setup

      - name: >
          Run ${{ inputs.task }} tests
          (${{ inputs.shard_index }}/${{ inputs.shard_total }})
        run: >
          bin/task test-integration-${{ inputs.task }}
          SHARD_INDEX=${{ inputs.shard_index }}
          SHARD_TOTAL=${{ inputs.shard_total }}
          TEST_TIMEOUT=${{ inputs.test_timeout }}
          NO_XFAIL=${{ inputs.no_xfail }}
        env:
          ENVTOOL_DEBUG: ${{ runner.debug == '1' && 'true' || 'false' }}

      - name: Collect logs
        if: failure()
        run: |
          bin/task env-logs-collect
          cp -v integration/*.json.tmp integration/*.txt.tmp tmp/logs/

      - name: Compress logs before upload
        if: failure()
        run: zip -r -q -9 logs.zip tmp/logs

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: logs-${{ inputs.task }}-${{ inputs.shard_index }}-${{ inputs.shard_total }}
          path: logs.zip
          retention-days: 3

      - name: Upload coverage information to codecov
        if: always()
        uses: codecov/codecov-action@v5
        with:
          files: ./integration/integration-${{ inputs.task }}.txt
          flags: integration,${{ inputs.task }},${{ inputs.task }}-${{ inputs.shard_index }}
          disable_file_fixes: true
          fail_ci_if_error: true
          verbose: true

      - name: Upload coverage information to coveralls
        if: always()
        uses: coverallsapp/github-action@v2
        with:
          file: ./integration/integration-${{ inputs.task }}.txt
          flag-name: integration-${{ inputs.task }}-${{ inputs.shard_index }}
          parallel: true

      - name: Convert test results to JUnit XML format
        if: always() && !inputs.skip_flaky_check
        run: >
          ./bin/go-junit-report -parser=gojson
          -in ./integration/*.json.tmp
          -out ./integration/${{ inputs.task }}.xml

      - name: Upload test results to Codecov
        if: always()
        uses: codecov/test-results-action@v1
        with:
          flags: integration,${{ inputs.task }},${{ inputs.task }}-${{ inputs.shard_index }}
          file: ./integration/${{ inputs.task }}.xml

      # we don't want them on CI
      - name: Clean test and fuzz caches
        if: always()
        run: go clean -testcache -fuzzcache

      - name: Check dirty
        if: always()
        run: |
          git status --untracked-files --ignored
          git status
          git diff --exit-code
