---
# Temporary workflow to debug GitHub Actions.

name: Debug
on:
  pull_request:
    types:
      - labeled
      - unlabeled # if GitHub Actions stuck, add and remove "not ready" label to force rebuild
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
      - main-*
      - releases/*
    tags:
      - "*"
  schedule:
    - cron: "12 0 * * *"

# Do not run this workflow in parallel for any PR change.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  contexts:
    name: Contexts
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    # comment out to enable this job
    if: false

    permissions:
      contents: read

    steps:
      # TODO https://github.com/FerretDB/github-actions/issues/211
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # for `git describe` to work
          lfs: false # LFS is used only by website

      - name: Debug git status
        run: |
          git status --untracked-files --ignored
          git status

      - name: Dump github context
        run: echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}

      - name: Dump env context
        run: echo "$ENV_CONTEXT"
        env:
          ENV_CONTEXT: ${{ toJSON(env) }}

      - name: Dump vars context
        run: echo "$VARS_CONTEXT"
        env:
          VARS_CONTEXT: ${{ toJSON(vars) }}

      - name: Dump environment variables
        run: env

      - name: Show current directory
        run: |
          pwd
          ls -al
