---
name: Go Cron
on:
  schedule:
    - cron: "12 0 * * *"

env:
  GOPATH: /home/runner/go
  GOCACHE: /home/runner/go/cache
  GOLANGCI_LINT_CACHE: /home/runner/go/cache/lint
  GOMODCACHE: /home/runner/go/mod
  GOPROXY: https://proxy.golang.org
  GOTOOLCHAIN: local

jobs:
  integration:
    # job name must be uniqie; make it unique and nice
    name: >
      ${{ matrix.task }} ${{ matrix.shard_index }}/${{ matrix.shard_total }}
      (filter=${{ matrix.disable_filter_pushdown }}, sort=${{ matrix.enable_sort_pushdown }})

    # To avoid conflict with go.yml.
    concurrency:
      group: ${{ github.workflow }}-integration-${{ matrix.task }}-${{ matrix.shard_index }}-${{ matrix.disable_filter_pushdown }}-${{ matrix.enable_sort_pushdown }}-${{ github.head_ref || github.ref_name }}
      cancel-in-progress: true

    strategy:
      fail-fast: false
      matrix:
        task: [pg, sqlite, postgresql]
        shard_index: [1, 2, 3]
        shard_total: [3]
        disable_filter_pushdown: [false, true]
        enable_sort_pushdown: [false, true]

    uses: ./.github/workflows/call-test-integration.yml
    with:
      task: ${{ matrix.task }}
      shard_index: ${{ matrix.shard_index }}
      shard_total: ${{ matrix.shard_total }}
      disable_filter_pushdown: ${{ matrix.disable_filter_pushdown }}
      enable_sort_pushdown: ${{ matrix.enable_sort_pushdown }}
