---
name: Integration
on:
  pull_request:
    types:
      - unlabeled # if GitHub Actions stuck, add and remove "no ci" label to force rebuild
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
  schedule:
    - cron: "12 3 * * *" # after Docker workflow

env:
  GOPATH: /home/runner/go
  GOCACHE: /home/runner/go/cache
  GOLANGCI_LINT_CACHE: /home/runner/go/cache/lint
  GOMODCACHE: /home/runner/go/mod
  GOPROXY: https://proxy.golang.org

jobs:
  test:
    name: Test ${{ matrix.name }}
    runs-on: ubuntu-20.04

    if: github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'no ci')

    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: "PostgreSQL", handler: "pg"}
          - {name: "Tigris", handler: "tigris"}
          - {name: "Tigris main", handler: "tigris", tigris_dockerfile: "tigris_main"}
          - {name: "MongoDB 5", handler: "mongodb"}
          - {name: "MongoDB 6", handler: "mongodb", mongo_dockerfile: "mongo6"}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: FerretDB/github-actions/setup-go@main
        with:
          cache-key: test

      - name: Install Task
        run: go generate -x
        working-directory: tools

      - name: Start environment
        run: bin/task env-up-detach
        env:
          MONGO_DOCKERFILE: ${{ matrix.mongo_dockerfile }}
          TIGRIS_DOCKERFILE: ${{ matrix.tigris_dockerfile }}

      - name: Run init
        run: bin/task init

      - name: Wait for and setup environment
        run: bin/task env-setup

      - name: Run ${{ matrix.handler }} tests
        run: bin/task test-integration-${{ matrix.handler }}

      - name: Upload coverage information
        uses: codecov/codecov-action@v3
        with:
          files: ./integration/integration-${{ matrix.handler }}.txt
          flags: integration,${{ matrix.handler }}
          fail_ci_if_error: true

      # we don't want them on CI
      - name: Clean test and fuzz caches
        if: always()
        run: |
          go clean -testcache -fuzzcache

      - name: Check dirty
        run: |
          git status
          git diff --exit-code
